body{
    background-color: #eee;
    font-family: helvetica, sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 80%;
    margin: auto;
}

form input{
    border: 1px rgba(0,0,0,0.5);
    background-color: lightblue;
    border-radius: 10px;
    padding: 1em;
    color: black;
    font-family: helvetica, sans-serif;
    width: 100%;
}

button{
    width: 60%;
    font-family: helvetica, sans-serif;
    padding: 1em;
    background-color: lightblue;
    border: 1px darkseagreen;
    border-radius: 10px;
}

#message{
    height: 150px;
}